## We are going to solve a customer classification Problem. The problem can be summarized as below:

1. Given the details about the customer our objective is to identify which customers is a potential high revenue customers and which customers are low revenue customers for a stock brocking firm
2. The problem is a supervised classification problem

Machine Learning Pipleline:

1. Load the Data into python
2. Split the data into train and val (only when validation set is not provided separately)
3. Exploratory Data Analysis and Preprocessing
4. Model Building
5. Model Evaluation
6. Iter over to improve the performance

In [9]:
###### Importing Libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Load the Dataset

In [4]:
raw_data = pd.read_csv('Existing_Base.csv')

In [5]:
###### Info gives details about the data #####

raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10155 entries, 0 to 10154
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           10155 non-null  int64
 1   children                         10155 non-null  object
 2   age_band                         10155 non-null  object
 3   status                           10155 non-null  object
 4   occupation                       10155 non-null  object
 5   occupation_partner               10155 non-null  object
 6   home_status                      10155 non-null  object
 7   family_income                    10155 non-null  object
 8   self_employed                    10155 non-null  object
 9   self_employed_partner            10155 non-null  object
 10  year_last_moved                  10155 non-null  int64
 11  TVarea                           10155 non-null  object
 12  post_code                        10155 non-null  object
 13  post_area                        10155 non-null  object
 14  Average Credit Card Transaction  10155 non-null  float64
 15  Balance Transfer                 10155 non-null  float64
 16  Term Deposit                     10155 non-null  float64
 17  Life Insurance                   10155 non-null  float64
 18  Medical Insurance                10155 non-null  float64
 19  Average A/C Balance              10155 non-null  float64
 20  Personal Loan                    10155 non-null  float64
 21  Investment in Mutual Fund        10155 non-null  float64
 22  Investment Tax Saving Bond       10155 non-null  float64
 23  Home Loan                        10155 non-null  float64
 24  Online Purchase Amount           10155 non-null  float64
 25  Revenue Grid                     10155 non-null  int64
 26  gender                           10155 non-null  object
 27  region                           10155 non-null  object
 28  Investment in Commudity          10155 non-null  float64
 29  Investment in Equity             10155 non-null  float64
 30  Investment in Derivative         10155 non-null  float64
 31  Portfolio Balance                10155 non-null  float64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.5+ MB

In [21]:
##### Check the class imbalance in the data. This is a common problem in classification problem
##### This tells us that our data has class imbalance

raw_data['Revenue Grid'].value_counts(normalize=True)

2    0.893058
1    0.106942
Name: Revenue Grid, dtype: float64

## Split the data into training and validation set
We would use sklearn's `train_test_split` functionality for the same.

In [16]:
targets = raw_data['Revenue Grid']
features = raw_data.drop(['Revenue Grid'], axis=1)  ## This line drops Revenue Grid from the data

features_train, features_val, target_train, target_val = train_test_split(
    features, targets, test_size=0.2, random_state=42, stratify=targets)

In [17]:
features_train.shape, features_val.shape

((8124, 31), (2031, 31))

In [22]:
target_val.value_counts(normalize=True)

2    0.893156
1    0.106844
Name: Revenue Grid, dtype: float64

## Explore the data!!!

1. Missing value imputations
2. Convert all non numeric to numeric columns
3. If there are any additional issues with the data

In [28]:
##### Get the head of the data #####
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
features_train.head(20)

<ipython-input-28-54a650fc0b73>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

      REF_NO children age_band                status         occupation occupation_partner home_status      family_income self_employed self_employed_partner  year_last_moved       TVarea post_code post_area  Average Credit Card Transaction  Balance Transfer  Term Deposit  Life Insurance  Medical Insurance  Average A/C Balance  Personal Loan  Investment in Mutual Fund  Investment Tax Saving Bond  Home Loan  Online Purchase Amount  gender            region  Investment in Commudity  Investment in Equity  Investment in Derivative  Portfolio Balance
5944  6756    2        31-35    Partner               Housewife          Other              Own Home    >=35,000           No            No                    1988             Granada      WA4 4QG   WA4       64.48                            29.49             9.99          47.96           7.49               18.46                5.99           19.98                      0.00                        8.99       0.00                    Female  North West        31.88                    8.90                  16.65                     53.28
4938  5618    1        31-35    Partner               Housewife          Professional       Own Home    <30,000, >=27,500  No            No                    1995             Carlton      CM16 6DW  CM16      0.00                             174.47            21.48         97.94           52.16              34.93                0.00           89.43                      5.98                        7.98       0.00                    Female  South East        69.21                    23.05                 46.74                     127.76
5707  6486    2        31-35    Partner               Housewife          Professional       Own Home    <27,500, >=25,000  No            No                    1987             Ulster       BT23 7BN  BT23      30.48                            19.49             0.52          50.94           21.98              5.99                 11.99          17.48                      4.99                        0.00       0.00                    Female  Northern Ireland  24.68                    6.74                  18.90                     62.98
4007  4557    1        51-55    Partner               Housewife          Professional       Own Home    >=35,000           No            Yes                   1982             Central      B45 8LX   B45       0.01                             0.00              0.00          0.00            0.00               0.00                 111.95         0.00                       0.00                        0.00       0.00                    Female  West Midlands     0.00                     18.66                 18.66                     48.14
2144  2450    3        26-30    Partner               Other              Manual Worker      Own Home    <25,000, >=22,500  No            No                    1988             Granada      WA5 1XU   WA5       0.00                             0.03              0.00          192.85          0.00               71.97                0.00           48.43                      0.00                        0.00       0.00                    Female  North West        38.58                    20.07                 52.21                     132.89
729   821     2        26-30    Partner               Other              Professional       Own Home    <27,500, >=25,000  Yes           No                    1987             Granada      FY5 2ER   FY5       0.00                             79.47             0.00          61.47           0.00               29.99                0.00           11.99                      0.00                        9.98       0.00                    Male    North West        28.19                    8.66                  17.24                     79.22
9142  10382   Zero     31-35    Single/Never Married  Secretarial/Admin  Unknown            Own Home    <27,500, >=25,000  No            No                    1997             Scottish TV  EH26 0QU  EH26      0.00                             0.00              19.99         9.49            0.00               8.99                 0.00           0.00                       0.00                        0.00       0.00                    Female  Scotland          5.90                     1.50                  3.08                     -10.51
7311  8316    Zero     51-55    Widowed               Retired            Unknown            Own Home    < 4,000            No            No                    1993             Yorkshire    YO13 9LR  YO13      0.00                             29.47             10.00         11.94           4.99               9.43                 0.00           10.95                      0.00                        0.00       0.00                    Female  Unknown           11.28                    3.40                  6.22                     -9.31
8980  10196   Zero     41-45    Partner               Housewife          Unknown            Own Home    <10,000, >= 8,000  No            Yes                   1993             HTV          SN15 4HD  SN15      74.40                            34.47             0.01          64.94           64.45              129.93               0.00           98.91                      0.00                        21.46      0.00                    Female  South West        47.65                    41.72                 59.71                     176.27
4727  5374    Zero     31-35    Partner               Housewife          Manual Worker      Own Home    <15,000, >=12,500  No            No                    1984             Granada      LA9 7LR   LA9       0.00                             0.00              0.00          0.52            0.00               4.49                 0.00           0.00                       0.00                        0.00       0.00                    Female  North             0.10                     0.75                  0.84                     -51.04
3174  3621    2        36-40    Single/Never Married  Business Manager   Manual Worker      Own Home    >=35,000           No            No                    1991             Central      L11 8UJ   L11       0.00                             4.99              0.00          8.99            0.00               0.00                 16.28          0.00                       7.98                        0.00       0.00                    Male    North West        2.80                     4.04                  5.54                      19.70
9384  10643   Zero     55-60    Partner               Secretarial/Admin  Other              Own Home    <12,500, >=10,000  No            No                    1962             Central      DY4 0AN   DY4       0.00                             0.00              19.99         0.00            0.00               0.00                 0.00           0.00                       0.00                        0.00       7.99                    Male    West Midlands     4.00                     1.33                  0.00                      34.58
7144  8114    1        45-50    Partner               Professional       Secretarial/Admin  Own Home    <30,000, >=27,500  No            No                    1981             Tyne Tees    NE46 2HT  NE46      0.00                             0.00              0.00          0.00            35.98              0.00                 20.49          0.00                       0.00                        0.00       0.00                    Male    North             7.20                     3.42                  9.41                     -19.37
6369  7240    Zero     36-40    Single/Never Married  Business Manager   Unknown            Own Home    <27,500, >=25,000  No            No                    1971             Scottish TV  ML5 2JE   ML5       6.99                             0.00              14.99         0.00            0.00               4.99                 0.00           33.48                      0.00                        0.00       0.00                    Female  Scotland          4.40                     6.41                  6.41                      17.95
9424  10685   Zero     55-60    Partner               Retired            Retired            Own Home    <12,500, >=10,000  No            No                    1960             Meridian     L35 4EH   L35       54.47                            42.48             0.00          86.45           19.98              0.00                 0.00           46.97                      0.00                        0.00       0.00                    Female  North West        40.68                    7.83                  25.57                     117.20
9689  10990   Zero     65-70    Partner               Unknown            Unknown            Own Home    <27,500, >=25,000  No            No                    1979             Scottish TV  G77 5ER   G77       119.95                           0.00              171.82        0.00            46.91              0.00                 0.00           0.00                       0.00                        0.00       0.00                    Female  Scotland          67.74                    0.00                  7.82                      102.81
6519  7411    2        36-40    Partner               Secretarial/Admin  Other              Own Home    <17,500, >=15,000  Yes           Yes                   1987             Ulster       BT42 1EQ  BT42      65.46                            94.46             0.00          121.40          0.00               121.44               0.00           250.29                     0.00                        11.49      13.99                   Female  Northern Ireland  56.26                    66.20                 82.19                     282.37
9276  10528   Zero     45-50    Widowed               Professional       Unknown            Own Home    <22,500, >=20,000  No            No                    1970             Unknown      NP15 1HJ  NP15      84.46                            99.48             69.97         53.96           0.00               53.38                0.00           9.99                       11.47                       24.18      46.94                   Female  Unknown           61.57                    24.33                 21.47                     90.70
3720  4237    2        26-30    Partner               Business Manager   Secretarial/Admin  Own Home    <27,500, >=25,000  No            No                    1991             Granada      BL7 9HQ   BL7       0.00                             51.05             19.99         112.04          64.95              78.44                84.86          6.00                       1.00                        2.25       0.00                    Male    North West        49.61                    28.76                 57.88                     159.99
9095  10327   Zero     65-70    Widowed               Retired            Unknown            Own Home    <10,000, >= 8,000  No            No                    1998             Central      CV10 0NZ  CV10      0.00                             159.49            59.48         31.97           9.49               156.33               0.00           156.34                     6.48                        0.00       0.00                    Female  West Midlands     52.09                    53.19                 60.10                     153.77

In [23]:
#### Lets get info on our columns #####

features_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8124 entries, 5944 to 4300
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average Credit Card Transaction  8124 non-null   float64
 15  Balance Transfer                 8124 non-null   float64
 16  Term Deposit                     8124 non-null   float64
 17  Life Insurance                   8124 non-null   float64
 18  Medical Insurance                8124 non-null   float64
 19  Average A/C Balance              8124 non-null   float64
 20  Personal Loan                    8124 non-null   float64
 21  Investment in Mutual Fund        8124 non-null   float64
 22  Investment Tax Saving Bond       8124 non-null   float64
 23  Home Loan                        8124 non-null   float64
 24  Online Purchase Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment in Commudity          8124 non-null   float64
 28  Investment in Equity             8124 non-null   float64
 29  Investment in Derivative         8124 non-null   float64
 30  Portfolio Balance                8124 non-null   float64
dtypes: float64(15), int64(2), object(14)
memory usage: 2.0+ MB

In [60]:
####### Understand the Object columns ########

##### Understanding the children column #####

### How many unique values
### What is the distribution of each unique values

train_uniq_values = {}

def children_numeric_converter(children_data, unique_values):
  children_data[~(children_data.isin(unique_values))] = "Zero" # This replaces every other value to Zero
  children_data[children_data=='Zero'] = 0  # Converts Zero to numeric 0
  children_data[children_data=='4+'] = 4    # Converts 4+ to 4
  children_data = pd.to_numeric(children_data) # Converts children_data to numeric
  return children_data


features_train['children'].nunique()

features_train['children'].value_counts()

uniq_values = features_train['children'].unique()

children_numeric = children_numeric_converter(features_train['children'], uniq_values)

features_train.drop(['children'], axis=1, inplace=True) ### drops the children column

features_train['children'] = children_numeric

train_uniq_values['children'] = uniq_values

<ipython-input-60-f1e79083c184>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[~(children_data.isin(unique_values))] = "Zero" # This replaces every other value to Zero
<ipython-input-60-f1e79083c184>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[children_data=='Zero'] = 0  # Converts Zero to numeric 0
<ipython-input-60-f1e79083c184>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[children_data=='4+'] = 4    # Converts 4+ to 4

In [68]:
children_numeric.value_counts()

0    4991
1    1473
2    1277
3    368
4    15
Name: children, dtype: int64

In [63]:
###### Analyzing the Post code column ######

features_train['post_code'].nunique()
features_train['post_area'].nunique()

## Gives me an impression that I can drop this column

8049