## In this notebook we will be creating functions to run the preprocessing in the validation/Testing set and to execute the model on the processed data

1. Create a function to preprocess the data
2. Create a function to run the model on the data

In [83]:
import pandas as pd
import os
import pickle
import numpy as np

In [84]:
#### Load the required files

with open('column_encoder.pickle', 'rb') as f:
  encoder = pickle.load(f)

with open('column_unique_values.pickle', 'rb') as f:
  uniq_values = pickle.load(f)

with open('columns_to_remove.pickle', 'rb') as f:
  cols_to_remove = pickle.load(f)

with open('missing_value_replacement.pickle', 'rb') as f:
  missing_replacement = pickle.load(f)

with open('column_sequence.pickle', 'rb') as f:
  column_seq = pickle.load(f)

In [85]:
### Initialize the required predefined functions

def children_numeric_converter(children_data, unique_values):
  children_data[~(children_data.isin(unique_values))] = "Zero" # This replaces every other value to Zero
  children_data[children_data=='Zero'] = 0  # Converts Zero to numeric 0
  children_data[children_data=='4+'] = 4    # Converts 4+ to 4
  children_data = pd.to_numeric(children_data) # Converts children_data to numeric
  return children_data

def ageband_numeric_converter(ageband_data, uniq_values):

  def __split(x):
    splits = x.split('-')
    left_val = splits[0]
    right_val = splits[1]
    mean = (float(left_val) + float(right_val))/2
    return mean

  ageband_data[~(ageband_data.isin(uniq_values))] = '45-50'
  ageband_data[ageband_data=='71+'] = '71-75'
  ageband_data[ageband_data=='Unknown'] = '45-50'
  mean_vals = ageband_data.apply(__split)
  return mean_vals

def gender_numeric_converter(gender_data, uniq_values):
  gender_data[~(gender_data.isin(uniq_values))] = 'Female'
  gender_data[gender_data=='Unknown'] = 'Female'
  gender_data[gender_data=='Male'] = 0
  gender_data[gender_data=='Female'] = 1
  gender_data = pd.to_numeric(gender_data)
  return gender_data

In [86]:
### Preprocessing function

def preprocess_val_test(data):
  ### Drop columns ####
  for column in cols_to_remove:
    data.drop([column], axis=1, inplace=True)

  children_uniq = uniq_values['children']
  children_numeric = children_numeric_converter(data['children'], children_uniq)
  data.drop(['children'], axis=1, inplace=True)
  data['children'] = children_numeric

  ageband_uniq = uniq_values['age_band']
  ageband_numeric = ageband_numeric_converter(data['age_band'], ageband_uniq)
  data.drop(['age_band'], axis=1, inplace=True)
  data['age_band'] = ageband_numeric

  gender_uniq = uniq_values['gender']
  gender_numeric = gender_numeric_converter(data['gender'], gender_uniq)
  data.drop(['gender'], axis=1, inplace=True)
  data['gender'] = gender_numeric

  ### Missing value Imputation ######
  missing_value_columns = list(data.isnull().sum()[data.isnull().sum()>0].index)

  for column in missing_value_columns:
    replacement_values = missing_replacement[column]
    if len(replacement_values) != 1:
      replace_with = np.random.choice(replacement_values, data[column].isnull().sum())
    else:
      replace_with = replacement_values[0]
    data[data[column].isnull(), column] = replace_with


  #### One hot encoding ######
  one_hot_converted_columns = ['status', 'occupation', 'occupation_partner', 'home_status', 'self_employed', 'self_employed_partner', 'TVarea', 'region', 'family_income']
  encoded_data = pd.DataFrame(encoder.transform(data[one_hot_converted_columns]).toarray())
  encoded_data.columns = encoder.get_feature_names_out()
  data.drop(one_hot_converted_columns, axis=1, inplace=True)
  data = pd.concat([data, encoded_data], axis=1)

  ### Ensure that the column ordering and the columns are same #####
  data = data[column_seq]

  return data

In [87]:
##### Load the validation set
##### Pass the validation set to the preprocess_test_val_funct

features_val = pd.read_csv('features_val.csv')

features_val = preprocess_val_test(features_val)

##### Load the model here ######
#### Predict from the model ######

<ipython-input-85-2ee826ef6639>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[~(children_data.isin(unique_values))] = "Zero" # This replaces every other value to Zero
<ipython-input-85-2ee826ef6639>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[children_data=='Zero'] = 0  # Converts Zero to numeric 0
<ipython-input-85-2ee826ef6639>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  children_data[children_data=='4+'] = 4    # Converts 4+ to 4
<ipython-input-85-2ee826ef6639>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ageband_data[~(ageband_data.isin(uniq_values))] = '45-50'
<ipython-input-85-2ee826ef6639>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ageband_data[ageband_data=='71+'] = '71-75'
<ipython-input-85-2ee826ef6639>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ageband_data[ageband_data=='Unknown'] = '45-50'
<ipython-input-85-2ee826ef6639>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data[~(gender_data.isin(uniq_values))] = 'Female'
<ipython-input-85-2ee826ef6639>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data[gender_data=='Unknown'] = 'Female'
<ipython-input-85-2ee826ef6639>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data[gender_data=='Male'] = 0
<ipython-input-85-2ee826ef6639>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data[gender_data=='Female'] = 1

In [89]:
features_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2031 entries, 0 to 2030
Data columns (total 90 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age_band                              2031 non-null   float64
 1   Average Credit Card Transaction       2031 non-null   float64
 2   Balance Transfer                      2031 non-null   float64
 3   Term Deposit                          2031 non-null   float64
 4   Life Insurance                        2031 non-null   float64
 5   Medical Insurance                     2031 non-null   float64
 6   Average A/C Balance                   2031 non-null   float64
 7   Personal Loan                         2031 non-null   float64
 8   Investment in Mutual Fund             2031 non-null   float64
 9   Investment Tax Saving Bond            2031 non-null   float64
 10  Home Loan                             2031 non-null   float64
 11  Online Purchase Amount                2031 non-null   float64
 12  Investment in Commudity               2031 non-null   float64
 13  Investment in Equity                  2031 non-null   float64
 14  Investment in Derivative              2031 non-null   float64
 15  Portfolio Balance                     2031 non-null   float64
 16  children                              2031 non-null   int64
 17  gender                                2031 non-null   int64
 18  status_Divorced/Separated             2031 non-null   float64
 19  status_Partner                        2031 non-null   float64
 20  status_Single/Never Married           2031 non-null   float64
 21  status_Unknown                        2031 non-null   float64
 22  status_Widowed                        2031 non-null   float64
 23  occupation_Business Manager           2031 non-null   float64
 24  occupation_Housewife                  2031 non-null   float64
 25  occupation_Manual Worker              2031 non-null   float64
 26  occupation_Other                      2031 non-null   float64
 27  occupation_Professional               2031 non-null   float64
 28  occupation_Retired                    2031 non-null   float64
 29  occupation_Secretarial/Admin          2031 non-null   float64
 30  occupation_Student                    2031 non-null   float64
 31  occupation_Unknown                    2031 non-null   float64
 32  occupation_partner_Business Manager   2031 non-null   float64
 33  occupation_partner_Housewife          2031 non-null   float64
 34  occupation_partner_Manual Worker      2031 non-null   float64
 35  occupation_partner_Other              2031 non-null   float64
 36  occupation_partner_Professional       2031 non-null   float64
 37  occupation_partner_Retired            2031 non-null   float64
 38  occupation_partner_Secretarial/Admin  2031 non-null   float64
 39  occupation_partner_Student            2031 non-null   float64
 40  occupation_partner_Unknown            2031 non-null   float64
 41  home_status_Live in Parental Hom      2031 non-null   float64
 42  home_status_Own Home                  2031 non-null   float64
 43  home_status_Rent Privately            2031 non-null   float64
 44  home_status_Rent from Council/HA      2031 non-null   float64
 45  home_status_Unclassified              2031 non-null   float64
 46  self_employed_No                      2031 non-null   float64
 47  self_employed_Yes                     2031 non-null   float64
 48  self_employed_partner_No              2031 non-null   float64
 49  self_employed_partner_Yes             2031 non-null   float64
 50  TVarea_Anglia                         2031 non-null   float64
 51  TVarea_Border                         2031 non-null   float64
 52  TVarea_Carlton                        2031 non-null   float64
 53  TVarea_Central                        2031 non-null   float64
 54  TVarea_Grampian                       2031 non-null   float64
 55  TVarea_Granada                        2031 non-null   float64
 56  TVarea_HTV                            2031 non-null   float64
 57  TVarea_Meridian                       2031 non-null   float64
 58  TVarea_Scottish TV                    2031 non-null   float64
 59  TVarea_TV South West                  2031 non-null   float64
 60  TVarea_Tyne Tees                      2031 non-null   float64
 61  TVarea_Ulster                         2031 non-null   float64
 62  TVarea_Unknown                        2031 non-null   float64
 63  TVarea_Yorkshire                      2031 non-null   float64
 64  region_Channel Islands                2031 non-null   float64
 65  region_East Anglia                    2031 non-null   float64
 66  region_East Midlands                  2031 non-null   float64
 67  region_Isle of Man                    2031 non-null   float64
 68  region_North                          2031 non-null   float64
 69  region_North West                     2031 non-null   float64
 70  region_Northern Ireland               2031 non-null   float64
 71  region_Scotland                       2031 non-null   float64
 72  region_South East                     2031 non-null   float64
 73  region_South West                     2031 non-null   float64
 74  region_Unknown                        2031 non-null   float64
 75  region_Wales                          2031 non-null   float64
 76  region_West Midlands                  2031 non-null   float64
 77  family_income_< 4,000                 2031 non-null   float64
 78  family_income_< 8,000, >= 4,000       2031 non-null   float64
 79  family_income_<10,000, >= 8,000       2031 non-null   float64
 80  family_income_<12,500, >=10,000       2031 non-null   float64
 81  family_income_<15,000, >=12,500       2031 non-null   float64
 82  family_income_<17,500, >=15,000       2031 non-null   float64
 83  family_income_<20,000, >=17,500       2031 non-null   float64
 84  family_income_<22,500, >=20,000       2031 non-null   float64
 85  family_income_<25,000, >=22,500       2031 non-null   float64
 86  family_income_<27,500, >=25,000       2031 non-null   float64
 87  family_income_<30,000, >=27,500       2031 non-null   float64
 88  family_income_>=35,000                2031 non-null   float64
 89  family_income_Unknown                 2031 non-null   float64
dtypes: float64(88), int64(2)
memory usage: 1.4 MB